<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File meta data microservice</title>
</head>
<body>
  <h1>Submit a file to view its filesize.</h1>
  <form enctype="multipart/form-data" action="/upload" method="post">
    <input type="file" name="userfile">
    <input type="submit">
  </form>
</body>
</html>